* {
  max-width: 100%;
  box-sizing: border-box;
}

body {
  background-color: #3c9893;
  font-family: "Ubuntu", sans-serif;
  margin: 0;
  text-align: center;
}

header {
  background-color: rgb(46, 37, 37);
  color: rgb(221, 203, 203);
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin-top: 0;
  font-size: 2.25rem;
  /* position: fixed; */
}

.header-item {
  /* border: 1px solid red; */
  width: 30%;
  /* border: 1px solid blue; */
}

.dropbtn {
}

.adam-info {
}

.header-nav {
  display: flex;
  flex-direction: column;
}

.header-nav a {
  text-decoration: none;
  color: rgb(221, 203, 203);
  text-decoration: underline;
}

/* BEGIN HEADER DROPDOWN SECTION */
/* Dropdown Button */
.dropbtn {
  font-family: "Arima Madurai", cursive;
  background-color: #5ccbc5;
  color: black;
  font-size: 1rem;
  border: none;
  padding: 0.65rem;
  border-radius: 30px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Making pokemon display options show when I hover */
.dropdown:hover .dropdown-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #90dcd8;
}

/* This is every individual button within the dropdown */
.dropbtn-inner {
  margin: 1%;
  border: none;
  background-color: rgb(153, 181, 197);
  color: rgb(35, 40, 15);
  padding: 0.25rem;
}

.dropdown:hover .dropbtn-inner:hover {
  text-decoration: underline;
  color: white;
  transition: 0.3s;
}

.dropdown-display-title {
  color: black;
  margin: 1%;
}
/* END HEADER DROPDOWN SECTION */

/* the section that contains all 151 pokemon */
.all-pokemon {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 2%;
}

/* Each individual pokemon is contained within a pokemon-card */
.pokemon-card {
  border: 1px solid black;
  box-sizing: border-box;
  width: 12rem;
  margin: 2%;
  background-color: #bef8f8;
}

/* This is every individual item (name, height, weight, image, etc) in the pokemon card */
.card-item {
  margin-left: 1.2%;
  margin-right: 1.2%;
  margin: 3%;
}

/* making sure each image is wide enough within its card */
.poke-img {
  width: 90%;
}
