body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
  background-color: rgb(24, 22, 22);
  color: rgb(221, 203, 203);
}

body{
  background-color: #009B77;  
}

/* the section that contains all 151 pokemon */
.all-pokemon{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* Each individual pokemon is contained within a pokemon-card */
.pokemon-card{
  /* width: auto;
  margin: 0 3%; */
  border: 1px solid red;
  box-sizing: border-box;
  width: 10rem;
  margin: 2%;
  background-color: #7FCDCD;
}

/* This ensures that the images's size increases with the container when you hover over it. */
.poke-img{
  width: 90%;
}

/* The idea here is to make each card enlargen on hover. Problem is, right now, when you hover over one card, the rest of its row gets taller (but not wider). It's not really noticeable when I remove my temporary 1px solid red border, but problem is that eventually these cards will have borders and styling. */
.pokemon-card:hover{
  border: 5px solid blue; 
  width: 15rem;
}

